body {
	background-color: #f0f0f0;
}

header {
	/*border-bottom: 3px solid #ebebeb;*/
	background-color: #ffffff;
	top: 0px; right: 0px; left: 0px;
	height: 97px;
}

.pane {
	position: absolute;
}

.pane-left {
	border-right: 1px #dadada solid;
	background-color: #ffffff;
	top: 41px; bottom: 0px; left: 0px;
	width: 290px;
	padding-left: 10px;
}

.pane-center {
	top: 51px; right: 10px; bottom: 10px; left: 310px;
}
.pane-center .CodeMirror {
	background: #ffffff;
	border: 1px solid #dddddd;
	/*margin-top: -1px;*/
}

.pane-center .CodeMirror .CodeMirror-gutter {
	background-color: #ffffff;
}

.pane-editor .editor {
	position: absolute;
	top: 35px; right: 0px; bottom: 0px; left: 0px;
}
.CodeMirror, .CodeMirror-scroll {
	height: 100%;
	outline: none;
}

.nav-files {
	margin-bottom: 0px;
	border: none;
}

.close {
	font-size: 18px;
	display: inline-block;
	margin-top: 0px;
  	margin-right: 10px;
  	
  	width: 0;
  	height: 0;
  	vertical-align: top;
}
.dropdown .close {
	display: none;
}
.active .close {
	display: inline-block;
}

.pane-workspace {
	overflow: auto;
}
.pane-workspace img {
	margin-right: 5px;
}
.pane-workspace .waiting {
	margin-left: 21px;
}
.pane-workspace ul {
	margin: 0;
}
.pane-workspace a {
	padding: 0 3px;
}

.navbar-inner .container {
	width: auto;
	margin-left: 10px;
}
.navbar-inner .brand {
	width: 280px;
}

.pane-project {
	border-radius: 0;
	border-right: none;
	border-left: none;
	margin: 0 0 10px 0;
	padding: 5px 10px 5px 10px;
	
	font-size: 11px;
	color: #999;
	text-transform: uppercase;
}	

.activeline { background: #e8f2ff !important; }

.nav-files .moretabs {
	float: right;
}
.nav-files .moretabs .caret {
	margin-top: 6px;
}